<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Général">
		<setting label="Adresse Web" type="text" id="url_address" default="http://www.cpasbien.pe"/>
		<setting label="Qualité" type="lsep"/>
		<setting label="Qualité Films" type="labelenum" id="movies_quality" values="Films French|Films 720p|Films 1080p|Films VOSTFR|Films DVDRIP|Tous" default="Films French"/>
		<setting label="Qualité Téléseries" type="labelenum" id="TV_quality" values="Series French|Series VOSTFR|Tous"  default="Series French"/>
		<setting label="Information Additionnelle" type="lsep"/>
		<setting label="Recherche additionnelle" type="text" id="extra" default=""/>
		<setting label="Limit Téléchargement" type="lsep"/>
		<setting label="Max torrents" type="slider" id="max_magnets" default="10" range="1,1,100" option="int" />
		<setting label="Notification Message" type="lsep"/>
		<setting label="Time (miliseconds):" type="slider" id="time_noti" default="1500" range="0,125,2000" option="int" />
	</category>
</settings>
