<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--<category label="Login">
        <setting label="Username:" type="text"   id="username" default=""/>
        <setting label="Password:" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
    </category>--->
	<category label="General">
		<setting label="Movie Folder:" type="folder" id="movie_folder" source="auto" option="writeable"/>
		<setting type="sep"/>
		<setting label="Clear Database:" type="bool" id="clear_database" default="false"/>
		<setting label="Remove All .strm Files:" type="bool" id="remove_strm" default="false"/>
		<!---<setting type="sep"/>
		<setting label="Automatic Update (experimental):" type="bool" id="automatic" default="false"/>
		<setting label="Number Files in Pulsar Section (0 = ALL)" type="slider" id="number_files" default="20" range="0,1,50" option="int" />		<setting type="sep"/>--->
	</category>
</settings>
